In [1]:
## load libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## load original data
raw_ogdata = pd.read_csv("/Users/eliseburdette/Desktop/listings.csv")

In [2]:
raw_ogdata.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2595,https://www.airbnb.com/rooms/2595,20200907203555,2020-09-08,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",Centrally located in the heart of Manhattan ju...,https://a0.muscache.com/pictures/f0813a11-40b2...,2845,https://www.airbnb.com/users/show/2845,...,10.0,10.0,9.0,NaN,f,2,2,0,0,0.37
1,3831,https://www.airbnb.com/rooms/3831,20200907203555,2020-09-08,"Whole flr w/private bdrm, bath & kitchen(pls r...","Enjoy 500 s.f. top floor in 1899 brownstone, w...",Just the right mix of urban center and local n...,https://a0.muscache.com/pictures/e49999c2-9fd5...,4869,https://www.airbnb.com/users/show/4869,...,9.0,9.0,9.0,NaN,f,1,1,0,0,4.82
2,5121,https://www.airbnb.com/rooms/5121,20200907203555,2020-09-08,BlissArtsSpace!,<b>The space</b><br />HELLO EVERYONE AND THANK...,NaN,https://a0.muscache.com/pictures/2090980c-b68e...,7356,https://www.airbnb.com/users/show/7356,...,10.0,9.0,9.0,NaN,f,1,0,1,0,0.36
3,5136,https://www.airbnb.com/rooms/5136,20200907203555,2020-09-09,"Spacious Brooklyn Duplex, Patio + Garden",We welcome you to stay in our lovely 2 br dupl...,NaN,https://a0.muscache.com/pictures/a3f7ace8-e7a9...,7378,https://www.airbnb.com/users/show/7378,...,10.0,8.0,10.0,NaN,f,1,1,0,0,0.01
4,5178,https://www.airbnb.com/rooms/5178,20200907203555,2020-09-08,Large Furnished Room Near B'way,Please don’t expect the luxury here just a bas...,"Theater district, many restaurants around here.",https://a0.muscache.com/pictures/12065/f070997...,8967,https://www.airbnb.com/users/show/8967,...,9.0,10.0,9.0,NaN,f,1,0,1,0,3.42

### Data Cleaning Goal: <br>
- Want to drop unique, nonnumerical columns. (Listing description, picture_url, host_url etc.)
- Rename some columns to something more clear and concise
- Need to rescale the reviews_score_rating from out of 100 to out of 10, since this is the same scale that the other review metrics are based upon.
- Want to ensure data types of all columns are correct- DateTime, numerical, etc.

In [3]:
print(raw_ogdata.columns)

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

### Creating New DataFrame with relevant columns
Columns will be dropped according to the Data Cleaning Goals, and the new columns will be attributed to a new dataframe, airbnb.

In [4]:
ogdata = raw_ogdata.copy()
airbnb = ogdata.drop(columns = ['listing_url', 'scrape_id', 'last_scraped', 'name', 'description', 'neighborhood_overview', 'picture_url', 'host_url', 'number_of_reviews_ltm', 'calendar_updated', 'license', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood', 'bathrooms', 'amenities', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'neighbourhood_cleansed', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'calendar_last_scraped', 'host_name', 'instant_bookable', 'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'bathrooms_text', 'review_scores_accuracy',
        'review_scores_checkin', 'review_scores_communication', 'calculated_host_listings_count', 'host_is_superhost', 'has_availability'])
airbnb.columns

Index(['id', 'host_id', 'host_since', 'host_listings_count',
       'neighbourhood_group_cleansed', 'latitude', 'longitude',
       'property_type', 'room_type', 'accommodates', 'bedrooms', 'beds',
       'price', 'minimum_nights', 'maximum_nights', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'number_of_reviews', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_cleanliness',
       'review_scores_location', 'review_scores_value', 'reviews_per_month'],
      dtype='object')

### Renaming Columns
We want to rename several columns to something more clear and concise, for ease of both typing and understanding.

In [5]:
airbnb = airbnb.rename(columns = {'neighbourhood_group_cleansed':'borough',
                        'availability_30':'avail_l30d', 'availability_60': 'avail_l60d', 
                         'availability_90':'avail_l90d', 'availability_365':'avail_l365d',
                        'number_of_reviews':'nreviews','number_of_reviews_l30d':'nreviews_l30d',
                        'review_scores_rating':'total_review_unscale', 'review_scores_cleanliness':'clean_review',
                        'review_scores_location':'location_review', 'review_scores_value':'value_review'})

In [6]:
airbnb.head()

,id,host_id,host_since,host_listings_count,borough,latitude,longitude,property_type,room_type,accommodates,...,avail_l365d,nreviews,nreviews_l30d,first_review,last_review,total_review_unscale,clean_review,location_review,value_review,reviews_per_month
0,2595,2845,2008-09-09,6.0,Manhattan,40.75362,-73.98377,Entire apartment,Entire home/apt,2,...,365,48,0,2009-11-21,2019-11-04,94.0,9.0,10.0,9.0,0.37
1,3831,4869,2008-12-07,1.0,Brooklyn,40.68514,-73.95976,Entire guest suite,Entire home/apt,3,...,272,349,8,2014-09-30,2020-08-23,89.0,9.0,9.0,9.0,4.82
2,5121,7356,2009-02-03,1.0,Brooklyn,40.68688,-73.95596,Private room in apartment,Private room,2,...,365,50,0,2009-05-28,2019-12-02,90.0,8.0,9.0,9.0,0.36
3,5136,7378,2009-02-03,1.0,Brooklyn,40.66120,-73.99423,Entire apartment,Entire home/apt,4,...,352,1,0,2014-01-02,2014-01-02,97.0,10.0,8.0,10.0,0.01
4,5178,8967,2009-03-03,1.0,Manhattan,40.76489,-73.98493,Private room in apartment,Private room,2,...,346,473,0,2009-05-06,2020-03-15,84.0,7.0,10.0,9.0,3.42

### Rescale total_review_unscale to be out of 10
So that we can better compare the total review score to the other review metrics.

In [7]:
total_review = airbnb['total_review_unscale'].copy()/10
airbnb.loc[:,'total_review_unscale'] = total_review
airbnb = airbnb.rename(columns= {'total_review_unscale':'total_review'})
airbnb.head()

,id,host_id,host_since,host_listings_count,borough,latitude,longitude,property_type,room_type,accommodates,...,avail_l365d,nreviews,nreviews_l30d,first_review,last_review,total_review,clean_review,location_review,value_review,reviews_per_month
0,2595,2845,2008-09-09,6.0,Manhattan,40.75362,-73.98377,Entire apartment,Entire home/apt,2,...,365,48,0,2009-11-21,2019-11-04,9.4,9.0,10.0,9.0,0.37
1,3831,4869,2008-12-07,1.0,Brooklyn,40.68514,-73.95976,Entire guest suite,Entire home/apt,3,...,272,349,8,2014-09-30,2020-08-23,8.9,9.0,9.0,9.0,4.82
2,5121,7356,2009-02-03,1.0,Brooklyn,40.68688,-73.95596,Private room in apartment,Private room,2,...,365,50,0,2009-05-28,2019-12-02,9.0,8.0,9.0,9.0,0.36
3,5136,7378,2009-02-03,1.0,Brooklyn,40.66120,-73.99423,Entire apartment,Entire home/apt,4,...,352,1,0,2014-01-02,2014-01-02,9.7,10.0,8.0,10.0,0.01
4,5178,8967,2009-03-03,1.0,Manhattan,40.76489,-73.98493,Private room in apartment,Private room,2,...,346,473,0,2009-05-06,2020-03-15,8.4,7.0,10.0,9.0,3.42

### Checking DataType in columns
We want to ensure that all dates are DateTimeObjects.

In [8]:
airbnb.loc[:,'host_since'] = [pd.to_datetime(i) for i in airbnb.loc[:,'host_since']]
airbnb.loc[:,'first_review'] = [pd.to_datetime(i) for i in airbnb.loc[:,'first_review']]
airbnb.loc[:,'last_review'] = [pd.to_datetime(i) for i in airbnb.loc[:,'last_review']]

In [9]:
airbnb.columns

Index(['id', 'host_id', 'host_since', 'host_listings_count', 'borough',
       'latitude', 'longitude', 'property_type', 'room_type', 'accommodates',
       'bedrooms', 'beds', 'price', 'minimum_nights', 'maximum_nights',
       'avail_l30d', 'avail_l60d', 'avail_l90d', 'avail_l365d', 'nreviews',
       'nreviews_l30d', 'first_review', 'last_review', 'total_review',
       'clean_review', 'location_review', 'value_review', 'reviews_per_month'],
      dtype='object')

This line removes '$' and commas from the price so that we may work with the Price attribute as a numerical type rather than a string with nonnumerical characters.

In [10]:
airbnb['price'] = airbnb['price'].str.replace("$","")
airbnb['price'] = airbnb['price'].str.replace(",","")
airbnb['price'] = airbnb['price'].astype(float)

### Creating a DataFrame that only contains listings that have reviews
Several of the listings in airbnb do not yet have any reviews. So we will make a second dataframe, airbnbreviews, that filters out such listings.

In [11]:
airbnbreviews = airbnb[airbnb['nreviews'] != 0]

## Converting our newly created dataframes back to .csv

In [12]:
airbnb.to_csv("/Users/eliseburdette/Desktop/airbnb.csv", header=True)

In [13]:
airbnbreviews.to_csv("/Users/eliseburdette/Desktop/airbnbreviews.csv", header=True)